[submodule "src/direct_lidar_odometry"]
        path = src/direct_lidar_odometry
        url = https://github.com/vectr-ucla/direct_lidar_odometry.git
[submodule "src/cpp_pubsub/src/3rdparty/LASzip"]
	path = src/cpp_pubsub/src/3rdparty/LASzip
	url = https://github.com/LASzip/LASzip.git
[submodule "src/livox_ros_driver"]
	path = src/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git

